/* Universal */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Menu Bar */

.menu-bar {
  background-color: #5bc0f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 0;
}

.menu-bar img {
  width: 40px;
  margin: 0 5px 0 5px;
}

.menu-bar h1 {
  font-size: 2rem;
  margin: 0 5px 0 5px;
}

/* Instructions */

.instructions {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding: 15px 0;
}

/* Cards Area */

.cards-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 970px;
}

/* Subject Card */

.subject-card {
  width: 200px;
  text-align: center;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  padding: 10px;
}

.subject-card img {
  width: 100px;
}

/* Footer */

footer {
  text-align: center;
  font-size: small;
  font-weight: lighter;
  padding-top: 50px;
}
