/* Universal */

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --form-control-color: blue;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-image: url("images/dot-grid.webp");
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

/* Menu Bar */

.menu-bar {
  background-color: #5bc0f8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px 0;
}

.menu-bar img {
  width: 40px;
  margin: 0 5px 0 5px;
}

.menu-bar h1 {
  font-size: 2.25rem;
  font-weight: bolder;
  margin: 0 5px 0 5px;
}

/* Choose Subject Area */

.choose-subject-area {
  margin: 60px 0;
}

.choose-subject-area h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px 0;
}

.choose-subject-area form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.choose-subject-area select {
  width: 350px;
  margin: 0 10px;
}

.choose-subject-area button {
  margin: 0 10px;
}

/* Question Area */

.question-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.question-box {
  width: 900px;
  box-shadow: 5px 5px;
  border-radius: 0.25rem;
  background-color: lightgrey;
  margin: 10px;
  padding: 30px 20px;
}

.question-box:not(:first-child) {
  margin-top: 20px;
}

.question-box h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.answer-box {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: auto auto;
  gap: 1.5em;
  margin-top: 30px;
}

.answer-a {
  grid-column: 1;
  grid-row: 1;
}

.answer-b {
  grid-column: 2;
  grid-row: 1;
}

.answer-c {
  grid-column: 1;
  grid-row: 2;
}

.answer-d {
  grid-column: 2;
  grid-row: 2;
}

.form-control {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.form-control input {
  margin: auto 0;
}

.green-bg {
  background-color: green;
}

.red-bg {
  background-color: red;
}

/* Results Area */

.results-area {
  margin: 30px 0;
}

/* Button Area */

.button-area {
  margin: 30px 0;
}

.button-area button {
  margin: 0 20px;
}

/* Footer */

.footer {
  text-align: center;
  font-size: small;
  font-weight: lighter;
  margin: 40px 0;
}
